name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate UUID and zip repository
        run: |
          VERSION=$(uuidgen)
          ZIP_NAME="Crops&KettelKSMP-version-${VERSION}.zip"
          zip -r "$ZIP_NAME" .

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: CropsAndKettelKSMP
          path: Crops&KettelKSMP-version-*.zip
